.header {
	height: 667px;
	margin-bottom: 0px;
	background-image: url(image/header__bg.svg);
	background-size: auto 100%;
	background-position: center 50%;
	@include media(sm) {
		height: 1024px;
		margin-bottom: 150px;
	}
	@include media(md) {
		height: 100vh;
		background-size: cover;
		
	}
	.header__header {
		grid-area: 1/2/span 1/ 12;
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}
	.header__logo {
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@include media(sm){
			width: 50px;
			height: 50px;
		}
		@include media(md) {
			width: 25px;
			height: 25px;
		}
		@include media(lg) {
			width: 40px;
			height: 40px;
		}
	}
	.header__bottom {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		li {
			margin-left: 20px;
			font-weight: 700;
			transition: transform .05s;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
	.header__tittle {
		grid-area: 4/2/span 1/12;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include media(md) {
			grid-area: 3/2/span 1/12;
		}
		h2 {
			font-size: 20px;
			font-weight: 400;
			margin: 0;
			filter: drop-shadow(3px 3px 4px rgba(0,0,0,.4));
			@include media(sm) {
				font-size: 40px;
			}
			@include media(md) {
				font-size: 25px;
			}
		}
		h1 {
			font-weight: 700;
			font-size: 30px;
			margin: 20px 0 0 ;
			filter: drop-shadow(3px 3px 4px rgba(0,0,0,.4));
			@include media(sm) {
				font-size: 50px;
			}
			@include media(md) {
				font-size: 50px;
			}
		}
	}
	.header__form {
		grid-area: 5/2/span 1/12;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin: 50px 0;
		@include media(md) {
			grid-area: 4/2/span 1/12;
			margin: 70px 0;
		}
		
	}
	.header__img {
		grid-area: 5/2/13/12;
		
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			height: auto;
			max-height: 100%;
			@include media(md) {
				grid-area: 5/2/13/12;
				height: 100%;
				width: auto;
				max-height: 390px;
			}
		}
		.curvaSombra {
			box-shadow: 3px 3px 15px 5px rgba(0,0,0,.3);
			border-radius: 20px;
		}
	}
	.header__img--expandir {
		grid-area: 6/2/12/12;
		filter: drop-shadow(3px 3px 10px rgba(0,0,0,.3));
		@include media(md) {
			
			grid-area: 4/2/13/12;
			// transform: scale(1.2) translateY(15%);
		}
	}
}